<div class="container">
    <div class="row"><br><br><br><br><br><br></div>
    <div class="row mt-5 mb-5 justify-content-center" style="opacity: 0.5;">
        <div class="col-5">
            <form method="POST" action="/login">
                <h4 class="text-center text-secondary">LOGIN</h4>
                <label for="username" class="form-label">Username</label>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" required>
                </div>
                <label for="password" class="form-label">Password</label>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-secondary" style="width: 100px;">Login!</button>
                </div>
                <p class="mb-5">Don't have account? <a href="/register">Sign up!</a>. Or are you an admin? <a href="/admin/login">Click here!</a></p>
            </form>
        </div>
    </div>
</div>