<div class="row mt-5 mb-4 text-center">
    <h3>Transaksi Pembayaran</h3>
</div>
<hr>
<div class="row">
    <table class="table">
        <tbody>
          <tr>
            <td><h4>Whatsapp</h4></td>
            <td class="text-success">
                <h6>
                    Mario : 0895802016477
                    <br>
                    Vale : 082260331401
                </h6>
                <br>
            </td>
          </tr>
          <tr>
            <td><br><h4>Dana</h4></td>
            <td class="text-success"><br><h6>Mario : 0895802016477</h6><br></td>
          </tr>
          <tr>
            <td><br><h4>Nomor Rekening</h4></td>
            <td class="text-success"><br><h6>BNI : 01234567890</h6><br></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="row mt-5">
    <form method="post" action="/pembayaran" enctype="multipart/form-data">
        <input type="file" id="bukti_pembayaran" name="bukti_pembayaran" required>
        <button type="submit" class="btn btn-success"><i class="bi bi-arrow-up-square-fill"></i> Upload Bukti Pembayaran</button>
    </form>
</div>

<!-- <div class="row">
    <div class="col mt-5">
        <h2>Transaksi Pemesanan</h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h4>Whatsapp :</h4>
        <h5>Mario&emsp;&emsp; : 0895802016477</h5>
        <h5>Vale&emsp;&emsp;&emsp;: 082260331401</h5>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h4>Dana :</h4>
        <h5>Mario&emsp;&emsp; : 082260331401</h5>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h4>Nomor Rekening Admin : </h4>
        <h5>BNI&emsp;&emsp;&emsp;: 234567890</h5>
    </div>
</div> -->